rt.uec.service/Service References/test/QBP_ZPD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="segments.xsd" />
  <xsd:include schemaLocation="Z-segments.xsd" />
  <xsd:complexType name="QBP_ZPD.CONTENT">
    <xsd:sequence>
      <xsd:element ref="MSH" />
      <xsd:element ref="QPD" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="ZSG" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QBP_ZPD" type="QBP_ZPD.CONTENT" />
  <xsd:complexType name="RSP_ZKD.CONTENT">
    <xsd:sequence>
      <xsd:element ref="MSH" />
      <xsd:element ref="MSA" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ERR" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="RSP_ZKD.QUERY_RESPONSE" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="ZSG" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RSP_ZKD" type="RSP_ZKD.CONTENT" />
  <xsd:complexType name="RSP_ZKD.QUERY_RESPONSE.CONTENT">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RSP_ZKD.PERSON_INFO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RSP_ZKD.QUERY_RESPONSE" type="RSP_ZKD.QUERY_RESPONSE.CONTENT" />
  <xsd:complexType name="RSP_ZKD.PERSON_INFO.CONTENT">
    <xsd:sequence>
      <xsd:element ref="PID" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NK1" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="PV1" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="DB1" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="IN1" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ZPW" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="QRI" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RSP_ZKD.PERSON_INFO" type="RSP_ZKD.PERSON_INFO.CONTENT" />
</xsd:schema>