al.uir.services/Service References/UIRGateContract/UIRGate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://uir.ffoms.ru" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UIRGate" targetNamespace="http://uir.ffoms.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUIRGate_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://uir.ffoms.ru/Imports">
      <xsd:import schemaLocation="http://172.18.1.15/UIRGate/UIRGateService.svc?xsd=xsd0" namespace="http://uir.ffoms.ru" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Request">
    <wsdl:part name="UIRRequest" element="tns:UIRRequest" />
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="UIRResponse" element="tns:UIRResponse" />
  </wsdl:message>
  <wsdl:message name="IUIRGate_GetMedInsState_UIRResponse_FaultMessage">
    <wsdl:part name="detail" element="tns:UIRResponse" />
  </wsdl:message>
  <wsdl:message name="Request2">
    <wsdl:part name="UIRRequest2" element="tns:UIRRequest2" />
  </wsdl:message>
  <wsdl:message name="IUIRGate_GetMedInsState2_UIRResponse_FaultMessage">
    <wsdl:part name="detail" element="tns:UIRResponse" />
  </wsdl:message>
  <wsdl:portType name="IUIRGate">
    <wsdl:operation name="GetMedInsState">
      <wsdl:input wsaw:Action="urn:#GetMedInsState" name="Request" message="tns:Request" />
      <wsdl:output wsaw:Action="http://uir.ffoms.ru/IUIRGate/GetMedInsStateResponse" name="Response" message="tns:Response" />
      <wsdl:fault wsaw:Action="urn:#GetMedInsState" name="UIRResponse" message="tns:IUIRGate_GetMedInsState_UIRResponse_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedInsState2">
      <wsdl:input wsaw:Action="urn:#GetMedInsState2" name="Request2" message="tns:Request2" />
      <wsdl:output wsaw:Action="http://uir.ffoms.ru/IUIRGate/GetMedInsState2Response" name="Response" message="tns:Response" />
      <wsdl:fault wsaw:Action="urn:#GetMedInsState2" name="UIRResponse" message="tns:IUIRGate_GetMedInsState2_UIRResponse_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUIRGate" type="tns:IUIRGate">
    <wsp:PolicyReference URI="#WSHttpBinding_IUIRGate_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMedInsState">
      <soap12:operation soapAction="urn:#GetMedInsState" style="document" />
      <wsdl:input name="Request">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Response">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UIRResponse">
        <soap12:fault use="literal" name="UIRResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMedInsState2">
      <soap12:operation soapAction="urn:#GetMedInsState2" style="document" />
      <wsdl:input name="Request2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Response">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UIRResponse">
        <soap12:fault use="literal" name="UIRResponse" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UIRGate">
    <wsdl:port name="WSHttpBinding_IUIRGate" binding="tns:WSHttpBinding_IUIRGate">
      <soap12:address location="http://172.18.1.15/UIRGate/UIRGateService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://172.18.1.15/UIRGate/UIRGateService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>